<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<title>Add member to [[${plan.title}]]</title>
<body onload="setPlanId()">
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <div class="col-md-3">
       <h1>Do you want to add [[${member.firstName}]] [[${member.lastName}]] to [[${plan.title}]] </h1>
        <form th:action="@{/plan/add-member(id=${plan.id})(memberId=${member.id})}" th:object="${plan}" method="post">
            <span id="plan_id1" th:text ="${plan.id}"></span>
            <div class="col-sm-6 col-sm-offset-3">
                <input type="text" id="plan_id2"
                        th:field="*{plan.id}"
                />
                <input type="submit"
                       name="task-submit"
                       id="task-submit"
                       class="form-control btn btn-info"
                       value="Yes"/>
            </div>
            <a th:href=@{/plan(id=${plan.id})}"><button>No</button></a>
        </form>
    </div>
</div>
</body>
</html>