<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<title>Add member to [[${plan.title}]]</title>
<body onload="setMemberId()">
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <div class="col-md-3">
        <div class="text-center">
<div th:if="${successMessage}"></div>
            <ul th:each="user : ${users}" class="list-inline">
                <li style="list-style:none; " class="panel panel-login list-inline-item">
                    <div>
                        <h1>
                            [[${user.firstName}]] [[${user.lastName}]]</h1>

                            <form th:action="@{/plan/add-member(memberId=${user.id})}" th:object="${plan}" method="post">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit"
                                           name="task-submit"
                                           id="task-submit"
                                           class="form-control btn btn-info"
                                           value="Add Member"/>
                                </div>
                            </form>
                    </div>
                </li>

            </ul>


        </div>
    </div>
</div>
<script>
</script>
</body>
</html>
