<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header"></head>
<title>[[${plan.title}]] members</title>
<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="container">
    <div class="panel panel-login table-responsive">
    <div th:if="${param.success}">
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="fas fa-paper-plane marginright"></span> User has been added to the plan
        </div>
    </div>
    <a th:href="@{/plan(id=${plan.id})}">Back to Plan</a><br>
    <form class="navbar-form navbar-right" th:action="@{/__${plan.id}__/members}">
        <div class="form-group"
             style="margin-left: 600px;display:inline;margin-bottom: 27px;border-bottom-width: 15px;">
            <input style=" width: 326px;display:inline;" type="text" name="fullName" class="form-control" size="50" th:value="${fullName}" required/>
        </div>
        <input type="submit" value="Search" class="btn btn-default"/>
    </form>
    </br>

    <p class="display - 3">Users:</p>
    <div th:each="user : ${users}">
        <form style="display:inline" th:action="@{/members(memberId=${user.id})}" method="post" th:object="${user}">
            <input type="hidden" name="planId" th:value="${plan.id}">
            <input type="hidden" name="memberId" th:value="${user.id}">
            <p> [[${user.firstName}]] [[${user.lastName}]] <input class="form-control btn btn-primary" type="submit"
                                                                  value="ADD" style="width: 176px;"/></p>
        </form>
    </div>
    <div th:each="searchUser : ${searchedUsers}">
        <ul>
            <li> [[${searchUser.fullName}]]</li>
        </ul>
    </div>
    </div>
</div>
</body>
</html>