<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header"></head>
<title>[[${plan.title}]] members</title>
<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="container">
    <div th:if="${param.success}">
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="fas fa-paper-plane marginright"></span> User has been added to the plan
        </div>
    </div>
    <a th:href="@{/plan(id=${plan.id})}">Back to Plan</a><br>
    <p class="display - 3">Users:</p>
    <div th:each="user : ${users}">
        <form style="display:inline" th:action="@{/members}" method="post" th:object="${membersPlans}">
        <input type="hidden" name="planId" th:value="${plan.id}">
        <input type="hidden" name="memberId" th:value="${user.id}">
                <p> [[${user.firstName}]] [[${user.lastName}]] <input class="form-control btn btn-primary" type="submit"  value="ADD" style="width: 176px;" /></p>
        </form>
        </div>
</div>
<script>


</script>
</body>
</html>